<div class="header header-float">
    <div class="container d-flex">
      <div class="header-logo">
        <a routerLink="/" class="logo-link">
          <img src="https://www.jpvtech.com.br/assets/img/bg/logo.png" >
          <img src="https://www.jpvtech.com.br/assets/img/bg/txt_logo.png" >
        </a>
      </div>
      <div class="header-nav">
        <div class="container">
          <div class="header-nav-item">
            <a routerLink="/quem-somos" class="header-nav-link p-2">Quem Somos</a>
          </div>
          <div class="header-nav-item">
            <a routerLink="/projetos" class="header-nav-link p-2">Projetos</a>
          </div>
          <div class="header-nav-item">
            <a routerLink="/gestao-de-mudanca" class="header-nav-link p-2">Gestão de Mudança</a>
          </div>
          <div class="header-nav-item">
            <a routerLink="/automacao-de-negocios" class="header-nav-link p-2">Automação de Negócios</a>
          </div>
          <div class="header-nav-item">
            <a routerLink="/trabalhe-conosco" class="header-nav-link p-2">Trabalhe Conosco</a>
          </div>
          <div class="header-nav-item">
            <a routerLink="/contato" class="header-nav-link p-2">Contato</a>
          </div>
        </div>
      </div>
      <button class="header-mobile-nav-toggler" type="button" data-toggle="header-mobile-nav">
        <span class="header-mobile-nav-toggler-icon"></span>
      </button> 
    </div>
  </div>
  