/* upload-image.component.scss */

.upload-container {
    text-align: center;
    padding: 20px;
  }
  
  .upload-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .custom-file-upload {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  .selected-file {
    margin-top: 10px;
  }
  
  /* Estilos para a prévia da imagem */
  .image-preview {
    margin-top: 20px;
  
    /* Estilos para a imagem carregada */
    .uploaded-image {
      max-width: 500px; /* Define a largura máxima da imagem */
      height: auto; /* Mantém a proporção da imagem */
      border: 1px solid #ddd; /* Borda opcional para a imagem */
      border-radius: 5px; /* Borda arredondada opcional */
    }
  }
  