<section id="gallery">
    <div class="container">
      <h1 class="title">GALERIA JPV</h1>
      <img *ngIf="uploadedImage" [src]="uploadedImage" alt="Uploaded Image">
      <div id="image-gallery" class="grid-container">
        <div class="image" *ngFor="let imageUrl of images">
          <div class="img-wrapper">
            <a [href]="imageUrl"><img [src]="imageUrl" class="img-responsive"></a>
            <div class="img-overlay">
              <fa-icon [icon]="faPlusCircle"></fa-icon>
            </div>
            <div class="caption">Clique aqui para ver a imagem maior</div>
          </div>
        </div>
      </div>
    </div>
  </section>
