.upload-container {
    text-align: center;
    padding: 20px;
  }
  
  .upload-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .custom-file-upload {
    background-color: #f59c1a;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
  }
  
  .custom-file-upload:hover {
    background-color: #333;
    color: #ddd;
  }
  
  .selected-file {
    margin-top: 10px;
  }
  
  .image-preview {
    margin-top: 20px;
  
    .uploaded-image {
      max-width: 100%; 
      height: auto; 
      border: 1px solid #ddd; 
      border-radius: 5px; 
    }
  }
  
  .save-button {
    background-color: #f59c1a;
    color: #333;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: lighten(#f59c1a, 15%)
    }
  }